<div class="base">

    <div class="cover">
        <div class="buttonBox"><a (click)="changeR()" class="push_button red" href="#">Play</a></div>
    </div>
    <div class="rot">
        <div class="top"></div>
        <div class="bottom"></div>

        <div [ngClass]="['gogo-'+r1,'ring']" id="ring1" [ngStyle]="{'animation': '1s ease 0s 1 normal none running back-gogo, 2.5s ease 0s 1 normal none running gogo-'+r1}">
            <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]" [ngClass]="['init-'+number,'slot']">
                <div [ngClass]="['icon-'+number]"></div>
            </div>
        </div>

        <div [ngClass]="[ 'gogo-'+r2, 'ring'] " id="ring2 " [ngStyle]="{ 'animation': '1s ease 0s 1 normal none running back-gogo, 3s ease 0s 1 normal none running gogo-'+r2} ">
            <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] " [ngClass]="[ 'init-'+number, 'slot'] ">
                <div [ngClass]="['icon-'+number]"></div>
            </div>
        </div>

        <div [ngClass]="[ 'gogo-'+r3, 'ring'] " id="ring3 " [ngStyle]="{ 'animation': '1s ease 0s 1 normal none running back-gogo, 3.5s ease 0s 1 normal none running gogo-'+r3} ">
            <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] " [ngClass]="[ 'init-'+number, 'slot'] ">
                <div [ngClass]="['icon-'+number]"></div>
            </div>
        </div>

        <div [ngClass]="[ 'gogo-'+r4, 'ring'] " id="ring4 " [ngStyle]="{ 'animation': '1s ease 0s 1 normal none running back-gogo, 4s ease 0s 1 normal none running gogo-'+r4} ">
            <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] " [ngClass]="[ 'init-'+number, 'slot'] ">
                <div [ngClass]="['icon-'+number]"></div>
            </div>
        </div>

        <div [ngClass]="[ 'gogo-'+r5, 'ring'] " id="ring5 " [ngStyle]="{ 'animation': '1s ease 0s 1 normal none running back-gogo, 4.5s ease 0s 1 normal none running gogo-'+r5} ">
            <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] " [ngClass]="[ 'init-'+number, 'slot'] ">
                <div [ngClass]="['icon-'+number]"></div>
            </div>
        </div>
    </div>
</div>