.base {
    float: left;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.cover {
    z-index: 300;
    background-image: url(/assets/images/santa-b.png);
    width: 100%;
    height: 100%;
    position: absolute;
}

.left {
    position: absolute;
    z-index: 90;
    height: 100%;
    width: 100%;
}

.right {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.top {
    position: absolute;
    z-index: 110;
    height: 32%;
    width: 50%;
}

.bottom {
    position: absolute;
    z-index: 200;
    width: 50%;
    height: 24.5%;
    margin-top: 572px;
}

.rot {
    margin-left: auto;
    margin-right: auto;
    height: 750px;
    width: 50%;
}

.slot {
    height: 101%;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
    background: azure;
    position: fixed;
}

.ring {
    margin-top: 45%;
    height: 120px;
    width: 20%;
    float: left;
    box-sizing: content-box;
    transform-style: preserve-3d;
}


/*icone*/

.icon-0 {
    background-image: url(/assets/images/0.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-1 {
    background-image: url(/assets/images/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-2 {
    background-image: url(/assets/images/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-3 {
    background-image: url(/assets/images/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-4 {
    background-image: url(/assets/images/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-5 {
    background-image: url(/assets/images/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-6 {
    background-image: url(/assets/images/6.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-7 {
    background-image: url(/assets/images/7.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-8 {
    background-image: url(/assets/images/8.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-9 {
    background-image: url(/assets/images/9.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-10 {
    background-image: url(/assets/images/10.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-11 {
    background-image: url(/assets/images/11.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-12 {
    background-image: url(/assets/images/12.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-13 {
    background-image: url(/assets/images/13.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}

.icon-14 {
    background-image: url(/assets/images/14.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12% 0% 0% 16%;
    width: 75%;
    height: 75%;
}


/*tasto play*/

.buttonBox {
    position: absolute;
    margin-top: 37%;
    margin-left: 40%;
}

.push_button {
    position: relative;
    width: 220px;
    height: 40px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 43px;
    font-family: 'Oswald', Helvetica;
    display: block;
    margin: 30px;
}

.push_button:before {
    background: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    position: absolute;
    content: "";
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -10px;
    z-index: -1;
}

.push_button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top: 5px;
}

.push_button:active:before {
    top: -11px;
    bottom: -5px;
    content: "";
}

.red {
    text-shadow: -1px -1px 0 #A84155;
    background: #D25068;
    border: 1px solid #D25068;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
    background: #F66C7B;
}


/**Posizioni iniziali**/

.init-0 {
    transform: rotateX(0deg) translateZ(284px);
}

.init-1 {
    transform: rotateX(24deg) translateZ(284px);
}

.init-2 {
    transform: rotateX(48deg) translateZ(284px);
}

.init-3 {
    transform: rotateX(72deg) translateZ(284px);
}

.init-4 {
    transform: rotateX(96deg) translateZ(284px);
}

.init-5 {
    transform: rotateX(120deg) translateZ(284px);
}

.init-6 {
    transform: rotateX(144deg) translateZ(284px);
}

.init-7 {
    transform: rotateX(168deg) translateZ(284px);
}

.init-8 {
    transform: rotateX(192deg) translateZ(284px);
}

.init-9 {
    transform: rotateX(216deg) translateZ(284px);
}

.init-10 {
    transform: rotateX(240deg) translateZ(284px);
}

.init-11 {
    transform: rotateX(264deg) translateZ(284px);
}

.init-12 {
    transform: rotateX(288deg) translateZ(284px);
}

.init-13 {
    transform: rotateX(312deg) translateZ(284px);
}

.init-14 {
    transform: rotateX(336deg) translateZ(284px);
}


/*rotazione fine*/

.gogo-0 {
    transform: rotateX(-3719deg);
}

.gogo-1 {
    transform: rotateX(-3743deg);
}

.gogo-2 {
    transform: rotateX(-3767deg);
}

.gogo-3 {
    transform: rotateX(-3791deg);
}

.gogo-4 {
    transform: rotateX(-3815deg);
}

.gogo-5 {
    transform: rotateX(-3839deg);
}

.gogo-6 {
    transform: rotateX(-3863deg);
}

.gogo-7 {
    transform: rotateX(-3887deg);
}

.gogo-8 {
    transform: rotateX(-3911deg);
}

.gogo-9 {
    transform: rotateX(-3935deg);
}

.gogo-10 {
    transform: rotateX(-3959deg);
}

.gogo-11 {
    transform: rotateX(-3983deg);
}

.gogo-12 {
    transform: rotateX(-4007deg);
}

.gogo-13 {
    transform: rotateX(-4031deg);
}

.gogo-14 {
    transform: rotateX(-4055deg);
}


/*rotazione act*/

@keyframes gogo-0 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3719deg);
    }
}

@keyframes gogo-1 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3743deg);
    }
}

@keyframes gogo-2 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3767deg);
    }
}

@keyframes gogo-3 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3791deg);
    }
}

@keyframes gogo-4 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3815deg);
    }
}

@keyframes gogo-5 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3839deg);
    }
}

@keyframes gogo-6 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3863deg);
    }
}

@keyframes gogo-7 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3887deg);
    }
}

@keyframes gogo-8 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3911deg);
    }
}

@keyframes gogo-9 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3935deg);
    }
}

@keyframes gogo-10 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3959deg);
    }
}

@keyframes gogo-11 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-3983deg);
    }
}

@keyframes gogo-12 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-4007deg);
    }
}

@keyframes gogo-13 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-4031deg);
    }
}

@keyframes gogo-14 {
    0% {
        transform: rotateX(24deg);
    }
    100% {
        transform: rotateX(-4055deg);
    }
}